*{
  margin:0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  background: #ffffff;
  color: #a5a5a5;
}

.container{
  width: 1140px;
  height: auto;
  margin: 0 auto;
  /* background:#000000; */
}

.banner-wrapper .banner-conent{
  width:40%;
  float: left;
  margin-top: 121px;
}

.banner-conent h3 {
  color: #000;
  font-size: 40px;
  font-family: sans-serif;
  word-spacing: 4px;
  line-height: 56px;
}
.banner-conent .name-higlight{
  color:rgb(255, 94, 0);
  font-weight: 900;
  position: relative;
  margin-left:38px;
}

.name-higlight::before{
  position:absolute;
  content: '';
  top: 8%;
  left: -12%;
  width:100px;
  height: 50px;
  background:#3d95f9b2;
  z-index: -10;
  -webkit-border-top-left-radius: 20px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-topleft: 20px;
-moz-border-radius-bottomleft: 20px;
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}

.banner-conent p {
  font-size: 18px;
  color: #313131;
  padding: 20px 0px 15px 0px;
  word-spacing: 4px;
  font-family: sans-serif;
  line-height: 30px;
}
.Hire-btn {
  padding: 20px 40px;
  outline: none;
  border: none;
  background: #ff7300;
  font-size: 17px;
  font-weight: 700;
  word-spacing: 3px;
  margin-top: 15px;
  border-radius: 8px;
  position: relative;
  z-index: 99;  
  text-decoration: none;
  color:#000;
  display:inline-block;
}
.Hire-btn::before {
  position:absolute;
  content:'';
  top: 0%;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -10;
  background:#008cff;
  border-radius: 8px;
  transition: 0.5s cubic-bezier(0, 0.28, 0.39, 1.09);
  font-family: system-ui;

}
.Hire-btn:hover::before{
  width:100%;
}

.banner-imgbox{
  width:40%;
  display: inline-block;
  margin-left: 114px;
  margin-top: 50px;
}
.banner-imgbox img{
  width:100%;
}


